# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Jupyter Notebook
.ipynb_checkpoints

# Data
*.csv
*.xls
*.xlsx

# Models
*.model
*.pkl

# IDEs and editors
.idea/
.vscode/
*.swp
